{% extends 'backend/base.html' %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
      <table>
        <thead>
            <th>Product user</th>
            <th>product price</th>
            <th>product quantity</th>
            <th>product title </th>
            <th>product description</th>
            <th>product image</th>
            <th>Total Price</th>
        </thead>
  
        <tbody>
          {% for product in cartitem %}
        <tr class="text-primary">
            <td>{{product.cart.user}}</td>
            <td name="amout">{{product.product.price}}</td> 
            <td>{{product.quantity}}</td>
            <td>{{product.product.title}}</td>
            <td>{{product.product.description}}</td>
                     
            <td>{{product.get_price_total}}</td>
{% comment %}             
            <td><img src="{{product.product.image.url}}" height="50px" width="50px"></td> {% endcomment %}
            {% if Product.image %}
            <td> <img src="{{Product.image.url}}" class="card-img-top" alt="404"></td>
            {% endif %}
            <td> <img src="" class="card-img-top" alt="404"></td>
  
          <input type="hidden" name="price_id" value="price_1KdqukSJwzlVXllpqqkF0TJf" >


  
        
  
          
        </tr>
        {% endfor %}
        <button type="submit" class="payment btn btn-primary">Payment</button></td> 

      </tbody>
      

  </table>

  <script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','.payment',function(){
            console.log($(this).attr('id'))
            $.ajax({
                type: "POST",
                crossDomain: true,

                url: "{% url 'showproduct' %}",
                data:{
                    'price_id':($(this).attr('id')),
                    'csrfmiddlewaretoken' : "{{ csrf_token }}"
                },

                cache: false,
                timeout: 600000,
                success: function (res) {
                    console.log("response------>" + res);
                    console.log(res.status,'============res.status')
                    if(res.status == true){
                        console.log('========================')
                         window.location = res.session_url
                    }
                },
            });
        })
    })
</script>
  {% endblock %}